@keyframes gearRotate {
    from {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes pipetteMoving {
    from {
        top: 540px;
        right: 477px;
    }
    /* Пипетка дотрагивается до палитры */
    12.5% {
        top: 400px;
        right: 400px;
        transform: rotate(-45deg);
    }
    /* Пипетка ждет у палитры */
    16% {
        top: 400px;
        right: 400px;
        transform: rotate(-45deg);
    }
    /* Пипетка летит к экрану */
    25% {
        top: 415px;
        right: 150px;
        transform: rotate(-200deg);
    }
    /* Пипетка ждет у экрана */
    35% {
        top: 415px;
        right: 150px;
        transform: rotate(-200deg);
    }
    /* Пипетка летит на место */
    45% {
        top: 540px;
        right: 477px;
        transform: rotate(0);
    }
    /* Пипетка ждет */
    to {
        top: 540px;
        right: 477px;
        transform: rotate(0);
    }
}

@keyframes changeColor {
    from {
        background: linear-gradient(180.71deg, rgba(255, 255, 255, 0.0001) -17.47%, rgba(255, 255, 255, 0.22) -8.12%, rgba(255, 255, 255, 0.45) 3.91%, rgba(255, 255, 255, 0.65) 15.93%, rgba(255, 255, 255, 0.8) 26.62%, rgba(255, 255, 255, 0.91) 35.98%, rgba(255, 255, 255, 0.98) 43.99%, #FFFFFF 50.68%);
    }
    33% {
        background: linear-gradient(180.71deg, rgba(230, 230, 230, 0.0001) -17.47%, rgba(230, 230, 230, 0.22) -8.12%, rgba(230, 230, 230, 0.45) 3.91%, rgba(230, 230, 230, 0.65) 15.93%, rgba(230, 230, 230, 0.8) 26.62%, rgba(230, 230, 230, 0.91) 35.98%, rgba(230, 230, 230, 0.98) 43.99%, #FFFFFF 50.68%);
    }
    66% {
        background: linear-gradient(180.71deg, rgba(205, 205, 205, 0.0001) -17.47%, rgba(205, 205, 205, 0.22) -8.12%, rgba(205, 205, 205, 0.45) 3.91%, rgba(205, 205, 205, 0.65) 15.93%, rgba(205, 205, 205, 0.8) 26.62%, rgba(205, 205, 205, 0.91) 35.98%, rgba(205, 205, 205, 0.98) 43.99%, #FFFFFF 50.68%);
    }
    to {
        background: linear-gradient(180.71deg, rgba(180, 180, 180, 0.0001) -17.47%, rgba(180, 180, 180, 0.22) -8.12%, rgba(180, 180, 180, 0.45) 3.91%, rgba(180, 180, 180, 0.65) 15.93%, rgba(180, 180, 180, 0.8) 26.62%, rgba(180, 180, 180, 0.91) 35.98%, rgba(180, 180, 180, 0.98) 43.99%, #FFFFFF 50.68%);
    }
}

@keyframes passwordBall1 {
    from {
        top: 400px;
        right: -13px;
    }
    10%,
    to {
        right: 444px;
    }
}

@keyframes passwordBall2 {
    from,
    10% {
        top: 400px;
        right: -13px;
    }
    20%,
    to {
        right: 430px;
    }
}

@keyframes passwordBall3 {
    from,
    20% {
        top: 400px;
        right: -13px;
    }
    30%,
    to {
        right: 416px;
    }
}

@keyframes passwordBall4 {
    from,
    30% {
        top: 400px;
        right: -13px;
    }
    40%,
    to {
        right: 402px;
    }
}

@keyframes passwordBall5 {
    from,
    40% {
        top: 400px;
        right: -13px;
    }
    50%,
    to {
        right: 388px;
    }
}

@keyframes passwordBall6 {
    from,
    50% {
        top: 400px;
        right: -13px;
    }
    60%,
    to {
        right: 374px;
    }
}

@keyframes passwordBall7 {
    from,
    60% {
        top: 400px;
        right: -13px;
    }
    70%,
    to {
        right: 360px;
    }
}

@keyframes petalRotate1 {
    from {
        top: 119px;
        left: 66px;
        transform: rotate(0);
    }
    to {
        transform: rotate(5deg);
    }
}

@keyframes petalRotate2 {
    from {
        bottom: 0;
        left: 0;
        transform: rotate(0);
    }
    to {
        transform: rotate(5deg);
    }
}

@keyframes petalRotate3 {
    from {
        top: 126px;
        left: 231px;
        transform: rotate(0);
    }
    to {
        transform: rotate(-5deg);
    }
}

@keyframes petalRotate4 {
    from {
        bottom: 0;
        right: 90px;
        transform: rotate(0);
    }
    to {
        transform: rotate(-5deg);
    }
}

@keyframes swanMoving {
    from {
        top: 14px;
        left: -200px;
    }
    25%,
    75% {
        top: 14px;
        left: 6px;
    }
    to {
        top: 14px;
        left: 200px;
    }
}

@keyframes iconRotate {
    from {
        transform: rotate(0);
    }
    12.5%,
    25% {
        transform: rotate(90deg);
    }
    37.5%,
    50% {
        transform: rotate(180deg);
    }
    62.5%,
    75% {
        transform: rotate(270deg);
    }
    87.5%,
    to {
        transform: rotate(360deg);
    }
}

#gear_big {
    animation: gearRotate 5s linear infinite;
}

#gear_small {
    animation: gearRotate 2.5s linear infinite;
}

#pipette {
    animation: pipetteMoving 5s linear infinite;
}

#desk__block3 {
    animation: changeColor 15s step-start infinite 1.5s;
}

#img2__round1 {
    animation: passwordBall1 10s linear infinite alternate;
}

#img2__round2 {
    animation: passwordBall2 10s linear infinite alternate;
}

#img2__round3 {
    animation: passwordBall3 10s linear infinite alternate;
}

#img2__round4 {
    animation: passwordBall4 10s linear infinite alternate;
}

#img2__round5 {
    animation: passwordBall5 10s linear infinite alternate;
}

#img2__round6 {
    animation: passwordBall6 10s linear infinite alternate;
}

#img2__round7 {
    animation: passwordBall7 10s linear infinite alternate;
}

#img3__petal1 {
    animation: petalRotate1 1s linear infinite alternate 1s;
}

#img3__petal2 {
    animation: petalRotate2 1s linear infinite alternate 0.5s;
}

#img3__petal3 {
    animation: petalRotate3 1s linear infinite alternate 0.7s;
}

#img3__petal4 {
    animation: petalRotate4 1s linear infinite alternate;
}

#img4__swan {
    animation: swanMoving 5s linear infinite;
}

#img5__icon {
    animation: iconRotate 7s linear infinite;
}